<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunzhongyang.sjd.lab_project_four">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".Main_Activity"
            android:launchMode="singleInstance"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Dynamic_Register"
            >
        </activity>

        <activity android:name=".Static_Register"
            >
        </activity>

        <receiver android:name=".Static_Receiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.sunzhongyang.sjd.lab_project_four.staticcreceiver" />
            </intent-filter>
        </receiver>

    </application>
</manifest>
